* {
  box-sizing: border-box;
  margin: 0%;
}
.App {
  display: flex;
  width: 550px;
  height: 900px;
  background: #23252c;
  padding: 44px 117px 44px 116px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.client-pic {
  width: 317px;
  height: 317px;
}
.client-name {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 25px;
  font-weight: 700;
  margin-top: 21px;
}
.client-job {
  color: #f3bf99;
  font-family: Inter;
  font-size: 12.8px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  margin-top: 17px;
}
.client-website {
  color: #f5f5f5;
  text-align: center;
  font-family: Inter;
  font-size: 11px;
  font-weight: 400;
  margin-top: 19px;
}
.info-button {
  display: flex;
  padding: 9px 13px 9px 11px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
button {
  width: 115px;
  height: 34px;
  margin-top: 15px;
  border-radius: 6px;
  border: 1px solid var(--gray-300, #d1d5db);
  background: var(--white, #fff);

  /* shadow/sm */
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
.linkedin {
  background-color: rgb(8, 176, 218);
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

button > span {
  margin-left: 8px;
}
.About {
  margin-top: 33px;
  width: 242.712px;
  height: 21px;
}
.about-header {
  color: #f5f5f5;
  font-family: Inter;
  /* font-size: 16px; */
  font-style: normal;
  font-weight: 900;
  line-height: 150%;
}
.About p {
  margin-top: 5px;
  font-family: Inter;
  font-size: 10.24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 15.36px */
  color:#DCDCDC;

 ;
}
.interest {
  margin-top: 100px;
  width: 242.712px;
  height: 21px;
}
.interest-header {
  color: white;
  font-family: Inter;
  /* font-size: 16px; */
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
}
.interest p {
  color: #dcdcdc;
  font-family: Inter;
  font-size: 10.24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 15.36px */
}
.footer{
  width: 317px;
  height: 64px;
  margin-top: 100px;
  border-radius: 0px 0px 10px 10px;
  background: hsl(240, 6%, 9%);
  margin-left: 72px;
}
.footer img{
  padding: 20px 19px;
}
@media screen and (max-width:600px ) {
  .App {
  display: flex;
  margin-left: 10px;
  width: 350px;
  height: 100%;
  
}
.footer{
  width: 300px;
  margin-left: 10px;
}

}
